<!DOCTYPE html>
<html>
  <head>
    <title>Update Consultation</title>
  </head>
  <body>
    <h1>Update Consultation</h1>
    <form method="post">
      {% csrf_token %}
      <label for="act">Add Act:</label>
      <select name="act" required>
        {% for act in acts %}
          <option value="{{ act.pk }}">{{ act.libelle }}</option>
        {% endfor %}
      </select><br />
      <button type="submit">Add Act</button>
    </form>
    <a href="{% url 'consultations.index' %}">Cancel</a>
  </body>
</html>
