<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akhira</title>
  </head>
  <body>
    <div class="container">
      <h1>Page d'acceuil</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, iste.</p>
      <ul>
        <li>
          <a href="/patients">Liste des patients</a>
        </li>
        <li>
          <a href="/patients/create">Créer un patient</a>
        </li>
      </ul>
    </div>
  </body>
</html>
