{% extends 'layout/auth.html' %}
{% load static %}
{% block title %}
  Modifier un type d'acte médical
{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />

  <div class="login-form p-8 md:p-10 mx-[200px]">
    <div class="text-center mb-8">
      <h2 class="text-gray-600 text-lg font-medium">Modifier un Type d'acte médical</h2>
      <div class="divider"></div>
      <a class="text-blue-500 text-sm mt-4 cursor-pointer" href="{% url 'acttypes.index'%}">Liste des actes médicaux</a>
    </div>

    <form method="post" class="space-y-6" action="{% url 'acttypes.update' acttype.pk %}">
      {% csrf_token %}

      <div class="space-y-2">
        <input type="text" id="libelle" name="libelle" required class="form-input" value="{{ acttype.libelle }}" placeholder="Entrez le libelle de l'acte médical" />
      </div>
      <button type="submit" class="login-button">Enregistrer</button>
      {% if messages %}
        <div class="space-y-2 mt-4">
          {% for message in messages %}
            <div class="px-4 py-2 rounded-lg text-sm font-medium
                    {% if message.tags == 'success' %}
                
                      bg-green-100 text-green-800

              {% elif message.tags == 'error' %}
                
                      bg-red-100 text-red-800

              {% elif message.tags == 'warning' %}
                
                      bg-yellow-100 text-yellow-800

              {% else %}
                
                      bg-blue-100 text-blue-800

              {% endif %}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %}


