<!DOCTYPE html>
<html>
  <head>
    <title>Patient List</title>
  </head>
  <body>
    <h1>Patient List</h1>
    <ul>
      {% for patient in patients %}
        <li>
          {{ patient.first_name }} {{ patient.last_name }}
          <a href="{% url 'patients.show' patient.pk %}">Detail</a>
          <a href="{% url 'patients.edit' patient.pk %}">Edit</a>
          <a href="#" onclick="confirmDelete({{ patient.pk }})">Delete</a>
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'patients.create' %}">Add New Patient</a>

    <script>
      function confirmDelete(patientId) {
        if (confirm('Voullez vous vraiment supprimer ce patient?')) {
          window.location.href = '{% url "patients.destroy" 0 %}'.replace('0', patientId)
        }
      }
    </script>
  </body>
</html>
